@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(241, 245, 248);
}
a {
    text-decoration: none;
    color: whitesmoke;
    padding: 1rem 5rem;
    background-color: rgba(48, 48, 48, .6);
}

a:hover {
    background-color: rgba(48, 48, 48, 1);

}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

main {
    padding: 5rem 0;
}
.container {
    background-color: rgb(48, 48, 48);
    color: whitesmoke;
    width: 500px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    border-radius: 30px;
}

